---
# yamllint disable rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.34.1/namespace-v1.json
apiVersion: v1
kind: Namespace
metadata:
  name: kube-system

---
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.34.1/namespace-v1.json
apiVersion: v1
kind: Namespace
metadata:
  name: argo-system

---
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.34.1/namespace-v1.json
apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager


---
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.34.1/namespace-v1.json
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets

---
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.34.1/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argo-system
stringData:
  admin.password: {{ ENV.ARGOCD_ADMIN_PASSWORD_ENCRYPTED }}
  admin.passwordMtime: "2025-10-19T09:16:23Z"
  oidc.authelia.clientID: {{ ENV.ARGOCD_OIDC_CLIENT_ID }}
  oidc.authelia.clientSecret: {{ ENV.ARGOCD_OIDC_CLIENT_SECRET }}
  server.secretkey: {{ ENV.ARGOCD_SERVER_SECRETKEY }}
  webhook.github.secret: {{ ENV.ARGOCD_WEBHOOK_SECRET }}

---
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.34.1/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: vault-role-secret
  namespace: external-secrets
stringData:
  secret-id: {{ ENV.VAULT_ROLE_SECRET_ID }}
