---
machine:
  network:
    hostname: k8s-master-01
    interfaces:
      - interface: eth0
#        mtu: 9000
        dhcp: false
        addresses:
          - 10.2.128.10/17
        routes:
          - network: 0.0.0.0/0
            gateway: 10.2.128.1
        vip:
          ip: 10.2.128.9
  nodeLabels:
    topology.kubernetes.io/zone: pve
  type: controlplane
